.footer {
  padding: 15px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  color: white;
  position: relative;
  height: 100px;
  background-color: rgba(22,47,74,0.25);
}
