header {
  min-height: 100px;
  color: white;
  background-color: rgba(255, 192, 17, 0.4);
  margin-right: auto;
  margin-left: auto;
  .center {
    display: flex;
    justify-content: center;
    height: 100px;
  }
}


