$base-yellow: rgb(255, 192, 17);
$base-yellow-75: rgba(255, 192, 17, 0.75);
$pink: rgb(207, 0, 80);
$pink-selected: rgb(207, 0, 80, 0.6);
$white-7: rgba(255, 255, 255, 0.7);

section {
  margin-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  display: flex;
  justify-content: center;

  h1 {
    color: white;
  }
}

.mid {
  width: 1200px;

  .list {
    background-color: $white-7;
    margin-bottom: 40px;
    padding: 10px;
    border-radius: 6px;
  }
}

.mat-list-item {
  color: black;
  margin-bottom: 4px;
  border-radius: 6px;
}

.mat-list-single-selected-option, .mat-list-single-selected-option:hover, .mat-list-single-selected-option:focus {
  background: $pink-selected;
  color: white;
}

@media only screen and (max-width: 1200px) {
  .mid {
    flex-direction: column;
    width: 60%;
  }
}

@media only screen and (max-width: 500px) {
  .mid {
    width: 97%;
  }
}
