section {
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}

header {
  min-height: 150px;
  font-size: 23px;
}

header h1 {
  padding: 10px;
}

ul {
  padding: 0;
}

.container.head {
  color: white;
  display: flex;
  justify-content: center;
  background-position: center;
  background-size: 70%;
  width: 100%;
}

.mid {
  display: flex;
  margin-top: 6px;
}

.brews {
  list-style-type: none;
  margin: 3px;
}

.list {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  min-width: 250px;
  border: 1px solid #283953;
}

#name-list {
  cursor: pointer;
  border-radius: 2px;
  padding: 2px;
}

#name-list:hover {
  background-color: #c3d9ed;
}

.selected {
  background-color: #f6bd04;
  color: white;
  text-decoration: underline;
  border-radius: 3px;
}

@media only screen and (max-width: 1200px) {
  .mid {
    flex-direction: column;
  }
}

@media only screen and (max-width: 500px) {
  section {
    width: auto;
    margin-right: 5px;
    margin-left: 5px;
  }

  .head h1{
    font-size: 25px;
  }

  .list {
    padding: 3px;
    border-radius: 8px;
    font-size: 18px;
    min-width: auto;
  }

}




