.sidenav {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(255, 192, 17);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  border-top-right-radius: 16px;
  max-width: 600px;
  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }

  a:hover {
    color: rgb(207, 0, 80, 0.6);
  }

  .closebtn {
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 9px;
    font-size: 36px;
  }
}

.show {
  width: 40%;
}

#open-button {
  position: relative;
  cursor: pointer;
  img {
    height: 60px;
  }
}

@media only screen and (max-width: 500px) {
  .show {
    width: 100%;
  }
}
