<section>
  <h1>Add new Brewery</h1>
</section>

<section class='mid'>
  <form [formGroup]='newBrewery' (ngSubmit)='onSubmit()'>
    <div class='label-container'>
      <!-- Name -->
      <mat-form-field appearance='legacy'>
        <mat-label>Name</mat-label>
        <input matInput placeholder='Jürgen Klopp' formControlName='name' required>
        <mat-error *ngIf='name?.invalid'>{{getErrorMessage(newBrewery.controls.name)}}</mat-error>
      </mat-form-field>
      <!-- Type -->
      <mat-form-field appearance='legacy'>
        <mat-label>Type</mat-label>
        <input matInput placeholder='Regular' formControlName='brewery_type' required>
        <mat-error *ngIf='breweryType?.invalid'>{{getErrorMessage(newBrewery.controls.brewery_type)}}</mat-error>
      </mat-form-field>
      <!-- Street -->
      <mat-form-field appearance='legacy'>
        <mat-label>Street</mat-label>
        <input matInput placeholder='66 Beacon St.' formControlName='street' required>
        <mat-error *ngIf='street?.invalid'>{{getErrorMessage(newBrewery.controls.street)}}</mat-error>
      </mat-form-field>
      <!-- Address 2 -->
      <mat-form-field appearance='legacy'>
        <mat-label>Address 2</mat-label>
        <input matInput placeholder='{{addressPlaceholder}}' formControlName='address_2'>
      </mat-form-field>
      <!-- Address 3 -->
      <mat-form-field appearance='legacy'>
        <mat-label>Address 3</mat-label>
        <input matInput placeholder='{{addressPlaceholder}}' formControlName='address_3'>
      </mat-form-field>
      <!-- City -->
      <mat-form-field appearance='legacy'>
        <mat-label>City</mat-label>
        <input matInput placeholder='New York' formControlName='city' required>
        <mat-error *ngIf='city?.invalid'>{{getErrorMessage(newBrewery.controls.city)}}</mat-error>
      </mat-form-field>
      <!-- State -->
      <mat-form-field appearance='legacy'>
        <mat-label>State</mat-label>
        <input matInput placeholder='New York' formControlName='state' required>
        <mat-error *ngIf='state?.invalid'>{{getErrorMessage(newBrewery.controls.state)}}</mat-error>
      </mat-form-field>
      <!-- County Province -->
      <mat-form-field appearance='legacy'>
        <mat-label>County Province</mat-label>
        <input matInput placeholder='Delaware' formControlName='county_province'>
      </mat-form-field>
      <!-- Postal Code -->
      <mat-form-field appearance='legacy'>
        <mat-label>Postal Code</mat-label>
        <input matInput placeholder='10005' formControlName='postal_code' required>
        <mat-error *ngIf='postalCode?.invalid'>{{getErrorMessage(newBrewery.controls.postal_code)}}</mat-error>
      </mat-form-field>
      <!-- Country -->
      <mat-form-field appearance='legacy'>
        <mat-label>Country</mat-label>
        <input matInput placeholder='United Kingdom' formControlName='country' required>
        <mat-error *ngIf='country?.invalid'>{{getErrorMessage(newBrewery.controls.country)}}</mat-error>
      </mat-form-field>
      <!-- Longitude -->
      <mat-form-field appearance='legacy'>
        <mat-label>Longitude</mat-label>
        <input matInput placeholder="2° 29' E" formControlName='longitude' required>
        <mat-error *ngIf='longitude?.invalid'>{{getErrorMessage(newBrewery.controls.longitude)}}</mat-error>
      </mat-form-field>
      <!-- Latitude -->
      <mat-form-field appearance='legacy'>
        <mat-label>Latitude</mat-label>
        <input matInput placeholder="29° 52' N" formControlName='latitude' required>
        <mat-error *ngIf='latitude?.invalid'>{{getErrorMessage(newBrewery.controls.latitude)}}</mat-error>
      </mat-form-field>
      <!-- Phone -->
      <mat-form-field appearance='legacy'>
        <mat-label>Phone</mat-label>
        <input matInput placeholder='+36302346475' formControlName='phone' required>
        <mat-error *ngIf='phone?.invalid'>{{getErrorMessage(newBrewery.controls.phone)}}</mat-error>
      </mat-form-field>
      <!-- Website Url -->
      <mat-form-field appearance='legacy'>
        <mat-label>Website Url</mat-label>
        <input matInput placeholder='www.google.com' formControlName='website_url' required>
        <mat-error *ngIf='websiteUrl?.invalid'>{{getErrorMessage(newBrewery.controls.website_url)}}</mat-error>
      </mat-form-field>
      <!-- Email -->
      <mat-form-field appearance='legacy'>
        <mat-label>Email</mat-label>
        <input matInput placeholder='jürgenklopp@gmail.com' formControlName='email' required>
        <mat-error *ngIf='email?.invalid'>{{getErrorMessage(newBrewery.controls.email)}}</mat-error>
      </mat-form-field>
      <div class='button-container'>
        <button mat-button class='standard-button' type='reset'>Reset</button>
        <button mat-button class='standard-button' type='submit' [disabled]='newBrewery.invalid'>Submit</button>
      </div>
    </div>
  </form>
</section>
