<section>
  <h1>Add new Brewery</h1>
</section>

<section class='mid'>
  <form [formGroup]='newBrewery' (ngSubmit)='onSubmit()'>
    <div class='label-container'>
      <!-- Name -->
      <mat-form-field appearance='legacy'>
        <mat-label>Name</mat-label>
        <input matInput placeholder='Jürgen Klopp' formControlName='name' required>
        <mat-error *ngIf='name?.invalid'>{{getErrorMessage(name?.value)}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance='legacy'>
        <mat-label>Type</mat-label>
        <input matInput placeholder='Regular' formControlName='brewery_type' required>
        <mat-error *ngIf='breweryType?.invalid'>{{getErrorMessage(breweryType?.value)}}</mat-error>
      </mat-form-field>
      <div class='button-container'>
        <button class='standard-button' type='reset'>Reset</button>
        <button class='standard-button' type='submit' [disabled]='newBrewery.invalid'>Submit</button>
      </div>
    </div>
  </form>
</section>
