$base-yellow: rgb(255, 192, 17);
$base-yellow-75: rgba(255, 192, 17, 0.75);

section {
  margin-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  display: flex;
  justify-content: center;
  color: white;
}

.mid {
  position: relative;
  margin-bottom: 50px;

  form {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 6px;
    color: black;
    min-width: 40%;

    .button-container {
      display: flex;
      justify-content: space-around;
      .standard-button {
        color: white;
        background-color: $base-yellow-75;
        border-radius: 6px;
        border: 1px solid;
        cursor: pointer;
        margin-top: 30px;
        height: 35px;
        font-size: 22px;
      }

      .standard-button:disabled {
        cursor: auto;
        background-color: grey;
        color: lightgrey;
      }
    }

    .label-container {
      display: flex;
      flex-direction: column;
      .mat-form-field {
        margin-bottom: 10px;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  form {
    width: 60%;
  }
}

@media only screen and (max-width: 500px) {
  section {
    width: 96%;
  }
  .mid {
    form {
      width: 96%;
      font-size: 12px;
    }
  }

  input[required] {
    background-size: 11px;
  }
}

