<div class='tablecon'>
  <div class='large-width-container'>
    <div>
      <div class='content-container'>
        <div class='property-container'>
          <th>Name</th>
          <span>{{brewery?.name}}</span>
        </div>
        <div class='property-container'>
          <th>Postal Code</th>
          <span>{{brewery?.postal_code}}</span>
        </div>
        <div class='property-container'>
          <th>Phone</th>
          <span>{{brewery?.phone}}</span>
        </div>
        <div class='property-container'>
          <th>Created</th>
          <span>
            HUN:
            {{brewery?.created_at | date:'yyyy/MM/dd'}}
            <br>
            USA:
            {{brewery?.created_at | date:'MM/dd/yyyy'}}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
