@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100&display=swap');

$base-yellow-75: rgba(255, 192, 17, 0.75);

.content-container {
  margin-left: 5px;
  display: flex;
  color: white;

  .property-container {
    display: flex;
    width: 200px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 6px;

    .mat-card {
      background-color: transparent;
      padding: 0;
      width: 100%;

      .mat-card-header {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-weight: bold;
        color: black;
        background-color: white;
        padding-top: 5px;
        padding-bottom: 5px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
      }

      .mat-card-content {
        text-align: center;
        color: white;
        height: 45px;
        background-color: $base-yellow-75;
        padding: 10px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
      }
    }
    .mat-card:not([class*=mat-elevation-z]) {
      box-shadow: none;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .content-container {
    display: block;

    .property-container {
      width: auto;
    }
  }
}



