@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100&display=swap');

th,td {
  min-width: 120px;
  border-bottom: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
  width: 20%;
}

.small-width-container{
  padding: 5px;
  display: none;
}
.small-width-container h2{
  text-decoration: underline;
}

.tablecon{
  background-color: rgba(255,255,255, .65);
  overflow-x:auto;
  border-radius: 10px;
  margin-left: 10px;
}

table {
  padding: 10px;
  min-width: 750px;
}

.separator {
  height: 1px;
  background-color: rgba(255, 255, 255);
  width: 40%;
}

@media only screen and (max-width: 500px) {
  .tablecon {
    border-radius: 8px;
    margin:0;
    margin-top: 10px;
  }
  table {
    min-width: 0px;
  }
}

@media only screen and (max-width: 1200px) {
  .small-width-container{
    display: block;
  }
  .large-width-container{
    display: none;
  }
  .tablecon{
    margin-top: 10px;
    padding: 10px;
  }
}
