@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100&display=swap');

th,td {
  min-width: 120px;
  border-bottom: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
  width: 20%;
}

.tablecon{
  margin-top: 10px;
  background-color: white;
  overflow-x:auto;
  border-radius: 10px;
  margin-left: 10px;
  border: 1px solid #283953;
}

table {
  padding: 10px;
  min-width: 750px;
}

@media only screen and (max-width: 500px) {
  .tablecon {
    border-radius: 8px;
    margin:0;
    margin-top: 10px;
    font-size: 14px;
  }
  table {
    min-width: 0px;
  }

}
