.tablecon {
  display: inline-block;
  margin-left: 20px;
}

.imagecon {
  display:inline-block;
  float: left;
}

img{
  border-radius: 50%;
}

th,td {
  min-width: 120px;
}

table, th, td {
  border: 1px solid black;
  border-radius: 2px;
}
