@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #283953;
  margin: 0;
  background-image: url("https://images.pexels.com/photos/6346098/pexels-photo-6346098.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
